<h1> My restaurants </h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %> </h3>
    <p><%= restaurant.address %></p>
  <% end %>
</ul>
